<plugin>
    <id>sitemap</id>
    <name>SiteMap</name>
    <description>Generates both an online sitemap and a Google compatible sitemap.xml</description>
    <version>1.1.7</version>
    <glfusionversion>1.3.0</glfusionversion>
    <phpversion>5.2.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
    <requires>dataproxy</requires>
</plugin>